*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.left-col{
    width: 20%;
}

.center-col{
    width: 60%;
}

.right-col{
    width: 20%;
}

/*header*/

header{
    padding: 25px 0px;
}

#header-links{
    text-align: center;
}

#header-links ul{
    list-style: none;
}

#header-links ul li{
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

/*fine header*/

/*main*/

/*fine main*/

/*footer*/

/*fine footer*/

/*utility*/

.j-content{
    justify-content: space-between;
}

.bg-orange{
    background-color: orange;
}

.bg-aquamarine{
    background-color: aquamarine;
}

.bg-blue{
    background-color: blue;
}

.bg-darkgrey{
    background-color: darkgrey;
}


.h-200{
    height: 200px;
}

.text-right{
    text-align: right;
}

.border{
    border: 2px dashed black;
}

.p-10{
    padding: 10px;
}